<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> 
                <h2>Licenciada en Filosofía y Letras</h2>
            <h3>Universidad de Caldas (Manizales, Colombia) </h3> 
            <h4>2011-2014 (Culminada)</h4> 
            </li>
            <li> 
                <h2>Licenciatura en Letras Modernas</h2>
                <h3>Universidad Nacional de Córdoba</h3> 
            <h4>(2016-En curso)</h4> 
            </li>            
            <li> 
                <h2>Tecnicatura en Corrección Literaria</h2>
            <h3>Universidad Nacional de Córdoba </h3> 
            <h4>(2017-En curso)</h4> 
            </li>           
            <li> 
                <h2>Desarrollo web full-stack Jr.</h2>           
            <h3>Argentina Programa</h3> 
            <h4>(2021-En curso)</h4> 
            </li>
           
        </ul>
    </div>
    
</div>

