
img{
    width: 100%;
    border-radius: 10%;
    
    
}


.contenedor{
    margin-top: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: rgb(18, 45, 52);
    

}

.css-typing{
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: justify;
    
    
    color: aliceblue;
    font-size: 5em;
    font-family:sans-serif;
    color: #ffffff;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 4vw;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    border-right: 0.15em solid #18bdec;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    ;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
   
