<div class="row">
    <h1>Proyectos</h1>
    <div class=" col-sm-12 col-md-5 col-lg-5 container" id="proyecto_1">
        <div class="col-sm-12 col-md-12 col-lg-12 texto">
            <h2>Nombre-del-proyecto-1</h2>
            <p>TextoTextoTextoTextoTextoTexto
                TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto</p>

        </div>
        <div class="col-sm-12 col-md-12 col lg-12 imagen">
            <h3><i>Header</i> y <i>banner</i></h3>
            <img Class="proyecto2"src="../../../assets/proyecto1.PNG">
            <h3>Sección "Acerca de mi"</h3>
            <img class= "proyecto2"src="../../../assets/proyecto2.PNG">

        </div>
    </div>
    <div class=" col-sm-12 col-md-5 col-lg-5 container" id="proyecto_2">
        <div class="col-sm-12 col-md-12 col-lg-12 texto">
            <h2>Nombre-del-proyecto-2</h2>
            <p>TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto TextoTextoTextoTextoTextoTexto</p>

        </div>
        <div class="col-sm-12 col-md-12 col lg-12 imagen"  >
            <h3><i>Header</i> y <i>banner</i></h3>
            <img src="../../../assets/proyecto1.PNG">
            <h3>Sección "Acerca de mi"</h3>
            <img id= "proyecto2"src="../../../assets/proyecto2.PNG">

        </div>

        
    </div>

    

    
</div>