<div class="row">
    <div class="container">
        <div class="logoap">
            <img src="../../../assets/APLogo-20-20.png" id="logoap">

        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/mar%C3%ADa-alejandra-correa-14983b224/"><img src="../../../assets/linkedin logo.png" id="logo1"></a>
            <a href="https://github.com/comomaraleja"><img src="../../../assets/GitHub-Logo.png" id="logo2"></a>
            <a href="https://twitter.com/Nada81295784"><img src="../../../assets/twitter logo.png" id="logo3"></a>
            <a href="https://www.facebook.com/nadanadanada22/"><img src="../../../assets/facebook logo.png" id="logo4"></a>
        
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged"><h4>Ingresar</h4></button> 
            <!-- !isLogged quiere decir, que si no estamos loggeados, nos podemos loggear-->
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged"><h4>Cerrar sesión</h4></button>
        
       
        </div>

       
    </div>
</div> 
