.container{
    display: flex;
   align-items: center;
    justify-content:space-between;
    
    
}

#logoap{
    
    margin-left: 0;
    width: 150px;}

.login,.redes{
    float:inline-end;
    
}
img{
    
    width: 38px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
           
    }
#logo1,#logo2,#logo3,#logo4{
    margin-inline-end: 20px;
    border-radius: 50%;
   }
#logo1{
    box-shadow:
    0 0 5px rgb(0, 255, 200),
    0 0 10px rgb(0, 255, 200),
    0 0 10px rgb(0, 255, 200),
    0 0 20px rgb(0, 255, 200),
    0 0 10px rgb(0, 255, 200),
    0 0 20px rgb(0, 255, 200),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1);
}

#logo2{
    box-shadow:
    0 0 5px rgb(136, 0, 255),
    0 0 10px rgb(136, 0, 255),
    0 0 10px rgb(136, 0, 255),
    0 0 20px rgb(136, 0, 255),
    0 0 10px rgb(136, 0, 255),
    0 0 20px rgb(136, 0, 255),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1);
}

#logo3{

    box-shadow:
    0 0 5px rgb(255, 0, 174),
    0 0 10px rgb(255, 0, 174),
    0 0 10px rgb(255, 0, 174),
    0 0 20px rgb(255, 0, 174),
    0 0 10px rgb(255, 0, 174),
    0 0 20px rgb(255, 0, 174),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1);
   
}
#logo4{
    margin-inline-end: 20px;
    box-shadow:
    0 0 5px rgb(0, 255, 255),
    0 0 10px rgb(0, 255, 255),
    0 0 10px rgb(0, 255, 255),
    0 0 20px rgb(0, 255, 255),
    0 0 10px rgb(0, 255, 255),
    0 0 20px rgb(0, 255, 255),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1);
}

    
 .redes{
        margin-right: 20px;
        height: 50px;
     
    }

    div{
        margin-left: 10px;
        padding-left: 10px;
        
    }

    .btn{
      
        box-shadow:
            0 0 5px rgb(255, 255, 255),
            0 0 10px rgb(255, 255, 255),
            0 0 10px rgb(255, 255, 255),
            0 0 20px rgb(255, 255, 255),
            0 0 10px rgb(255, 255, 255),
            0 0 20px rgb(255, 255, 255),
            0 0 20px rgba(38,104,127,1),
            0 0 20px rgba(38,104,127,1),
            0 0 20px rgba(38,104,127,1);

    }
@media(max-width:575px){
    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        
       
    }

    #logoap{
        margin-right: 50px;
    }
    .redes{
        margin-inline-start: 20px;
    }

    .redes,.btn{
        flex-direction: column;
        align-items: center;
    }
    .btn{
        margin-left: 50px;
        margin-top: 20px;
        align-items: center;
    }
}