
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="../../../assets/profile.jpg" alt="foto de perfil" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p id="nombre">María Alejandra Correa</p>
            <div id="estudios">
            <p>- Profesional en Filosofía y Letras</p>
            <p>- Estudiante de Letras Modernas con especialidad en Estudios Lingüísticos</p>
            <p>- Estudiante de Tecnicatura en corrección literaria</p>
            <p>- Full Stack Developer Jr en formación</p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Acerca de mi</h1>
            <span id="acerca">
                
                <p>   Me considero una persona ávida de conocimiento, muy interesada en investigar temas asociados con estudios interdisciplinares entre las áreas de Filosofía, Neurociencia, Lingüística, Computación y áreas STEM en general, habiendo cursado (a parte de los estudios ya mencionados)  materias en Física y Epistemología de la Física en la UNC y en la UBA.</p>
            </span>
        </div>
    </div>

