<div class="row">
    <h1>&nbsp;&nbsp;&nbsp;Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li> 
                <h2>Monitoría Académica en cátedra <i>Introducción a la Filosofía</i></h2>
            <h3>Universidad de Caldas (Manizales, Colombia) </h3> 
            <h4>(2011-2014)</h4> 
            </li>
            <li> 
                <h2>Corrección literaria y asesoría para la elaboración de textos académicos. </h2>
            <h3>Independiente (Colombia/Argentina) </h3> 
            <h4>(2013-)</h4> 
            </li>
            <li> 
                <h2>Maquetación, Diseño y Encuadernación en <i>Nativa Encuadernaciones</i>
            </h2>
            <h3>Independiente
        (Córdoba Capital, Argentina) </h3> 
            <h4>(2017-)</h4> 
            </li>
           
        </ul>
    </div>
    <div class="col-lg-1"></div>
</div>
