<div class="container" >
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm"> <!--cuando toquemos el submit se va a ejecutar onCreate-->
                <div class="form-group">
                    <label for="nombreExp"><h4>Nombre de la empresa</h4></label>
                    <input type="text" class="form-control" id="nombreExp"  [(ngModel)]="nombreExp" name="nombreExp" required>
                </div>
                <div class="form-group">
                    <label for="descripcionExp"><h4>Descripción</h4></label>
                    <input type="text" class="form-control" id="descripcionExp"  [(ngModel)]="descripcionExp" name="descripcionExp" required>
                </div>

                <button class="btn btn-outline-light">Añadir experiencia</button>

            </form>
        </div>
    </div>


</div>
