#singupbox{
    box-shadow:
    0 0 5px rgba(0,178,255,1),
    0 0 10px rgba(0,178,255,1),
    0 0 20px rgba(0,178,255,1),
    0 0 40px rgba(38,104,127,1),
    0 0 30px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1),
    0 0 20px rgba(38,104,127,1),
    0 0 50px rgba(38,104,127,1),
    0 0 50px rgb(232, 64, 247);
}

h1,h5,p{
    color:aliceblue
}

h1{
    text-shadow:
    0 0 5px rgb(10, 11, 11),
    0 0 5px rgba(0,178,255,1),
    0 0 5px rgb(2, 7, 8),
    0 0 5px rgba(38,104,127,1),
    0 0 5px rgba(38,104,127,1),
    0 0 5px rgba(38,104,127,1),
    0 0 5px rgba(38,104,127,1),
    0 0 5px rgba(38,104,127,1),
    0 0 30px rgb(255, 57, 242);
}