<div class="container" *ngIf="skills">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> <!--cuando toquemos el submit se va a ejecutar onCreate-->
                <div class="form-group">
                    <label for="nameSkill"><h4>Nombre del skill</h4></label>
                    <input type="text" class="form-control" id="nameSkill"  [(ngModel)]="skills.nameSkill" name="nameSkill" required>
                </div>
                <div class="form-group">
                    <label for="percentSkill"><h4>Porcentaje de skill</h4></label>
                    <input type="text" class="form-control" id="percentSkill"  [(ngModel)]="skills.percentSkill" name="percentSkill" required>
                </div>

                <button class="btn btn-outline-light">Actualizar skill</button>

            </form>
        </div>
    </div>


</div>

