
.row{
    background-color: rgb(18, 45, 52);   
    line-height:0;
    text-align: center;
    
    
   
}

div{
    
    
    padding: 40px;
    align-items: center;   
    display:flex;
  
    
}

h1{
    font-size: 3em;
    padding: 3%;
    text-align: center;
    color: aliceblue;
    text-shadow:
   0 0 5px rgb(10, 11, 11),
   0 0 5px rgba(0,178,255,1),
   0 0 5px rgb(2, 7, 8),
   0 0 5px rgba(38,104,127,1),
   0 0 5px rgba(38,104,127,1),
   0 0 5px rgba(38,104,127,1),
   0 0 5px rgba(38,104,127,1),
   0 0 5px rgba(38,104,127,1),
   0 0 30px rgb(255, 57, 242);
   
}



