<div class="row">
    <h1>Hard & soft skills</h1> 
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56dbf5'"
        [innerStrokeColor]="'#d234fe'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#ffffff'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'HTML'"
        [subtitleColor]="'#5cffd6'"
        [subtitleFontSize]="'2em'"
        [unitsColor]="'#ffffff'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
        
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#d234fe'"
        [innerStrokeColor]="'#5cffd6'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#56dbf5'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'CSS'"
        [subtitleColor]="'#ffffff'"
        [subtitleFontSize]="'2em'"
        [unitsColor]="'#56dbf5'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
        
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5cffd6'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#d234fe'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'JS'"
        [subtitleColor]="'#56dbf5'"
        [subtitleFontSize]="'2em'"
        [unitsColor]="'#d234fe'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="25"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56dbf5'"
        [innerStrokeColor]="'#d234fe'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#ffffff'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'PY'"
        [subtitleColor]="'#5cffd6'"
        [subtitleFontSize]="'2em'"
        [unitsColor]="'#ffffff'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
        
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#d234fe'"
        [innerStrokeColor]="'#5cffd6'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#56dbf5'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'GitHub'"
        [subtitleColor]="'#ffffff'"
        [subtitleFontSize]="'2em'"
        [unitsColor]="'#56dbf5'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
        
        
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#56dbf5'"
        [innerStrokeColor]="'#d234fe'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#ffffff'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'Inglés'"
        [subtitleColor]="'#5cffd6'"
        [subtitleFontSize]="'2em'"
        [unitsColor]="'#ffffff'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
        
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#d234fe'"
        [innerStrokeColor]="'#5cffd6'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#56dbf5'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'TEAMWORK'"
        [subtitleColor]="'#ffffff'"
        [subtitleFontSize]="'1.5em'"
        [unitsColor]="'#56dbf5'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
        
                
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#5cffd6'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="700"
        [titleColor]="'#d234fe'"
        [titleFontSize]="'1.5em'"
        [subtitle]= "'PROBLEM SOLVING'"
        [subtitleColor]="'#56dbf5'"
        [subtitleFontSize]="'1em'"
        [unitsColor]="'#d234fe'"
        [unitsFontSize]="'1.5em'"
        [responsive]="true"
                
        ></circle-progress>
    </div>
    
    
</div>
   


