<div class="row">
        <div class="col-sm-12 col-md-5 col-lg-5" id="fotobox">
            <img src="../../../assets/profile.jpg" alt="foto de perfil" class="img-fluid" id="fotoperfil">
            <div class="col-sm-12 col-md-12 col-lg-12" id="twobox">
                <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p><br>
                <div id="estudios">
                <ul>
                    <li>Profesional en Filosofía y Letras</li>
                    <li>Estudiante de Letras Modernas con especialidad en Estudios Lingüísticos</li>
                    <li>Estudiante de Tecnicatura en corrección literaria</li>
                    <li>Full Stack Developer Jr en formación</li>
                </ul>
                </div>
            </div>
        </div>
       
        <div class="col-sm-12 col-md-7 col-lg-7" id="thirdbox">
            <h2>Acerca de mi</h2><br>
            <span id="acerca">
                
               <p> Me considero una entusiasta del conocimiento. Estoy
                interesada en los estudios interdisciplinarios,
                principalmente en las áreas de Filosofía, Psicología,
                Lingüística, STEM y computación. Así mismo, mis intereses
                en mi área de profesionalización son: Filosofía de la Mente,
                Epistemología general y Filosofía de las Ciencias
                Especiales.</p>
               
            </span>
        </div>
    </div>

